@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  --green-button-bg:#3DB46D;

}

button{
  cursor:pointer;
}

input:focus,button:focus{
  outline: none;
}

.form-div{
  display:flex;
  justify-content: center;
  align-items: center;
}

.form{
  min-width:25rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border : 1px solid black;
  border-radius: 1rem;
  padding: 1rem;

}

.form input{
  width:95%;
  padding:0.5rem;
  border : 1px solid #000000;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.form label{
  margin-bottom: 0.75rem;
}
.form-input{
  width:97%;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.form .form-btns{
  width:100%;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.form button{
  font-family: 'Montserrat', sans-serif;
  border: none;


}

.add-note{
  padding:0.5rem 1rem;

  background-color: var(--green-button-bg);
  color: white;
  border-radius: 12px;
}

.tags,.color{
  font-size: small;
  padding:0.25rem;
}

.palette {
  display: flex;
  width:7rem;
  justify-content: space-between;
}

.tagsList li{
  list-style:none;
  text-align: left;
  padding:0.5rem;
  
}


.span{
  display: inline-block;
  width:80%;
}
.tagsList li:hover{
  background: #E5E7EB;
  cursor:pointer;
}
ul{
  position: absolute;
  width:25rem;
  height:10rem;
  overflow: scroll;
  padding-inline-start:0px;
  margin-block-start:0px;
  z-index:2;
  top:25rem;
  background: white;
  box-shadow: 3px 3px 5px 5px #E5E7EB;
}