@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  --green-button-bg:#3DB46D;
  --primary-color : #9128d7;
  --pin-color:#EF4444;
  color:#374151;

}


button{
  cursor:pointer;
}

input:focus,button:focus,textarea:focus{
  outline: none;
}

.header{
  color:#374151;
}

.form-div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  min-width:21rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border : 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 4rem;

}

.pin-title{
  margin-bottom: 0.75rem;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.form input,textarea{
  width:95%;
  padding:0.5rem;
  border : 1px solid #000000;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;

}

.form label{
  margin-bottom: 0.75rem;
}
.form-input{
  width:97%;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.form .form-btns{
  width:100%;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

button{
  font-family: 'Montserrat', sans-serif;
  border: none;


}

.add-note{
  padding:0.5rem 1rem;

  background-color: var(--green-button-bg);
  color: white;
  border-radius: 12px;
}

.tags,.color{
  font-size: small;
  padding:0.25rem;
}

.palette {
  display: flex;
  width:7rem;
  height:2rem;
  align-items: center;
  justify-content: space-between;
}

.tagsList li{
  list-style:none;
  text-align: left;
  padding:0.5rem;
  
}


.span{
  display: inline-block;
  width:75%;
}
.tagsList .tagDropdown:hover{
  background: #E5E7EB;
  cursor:pointer;
}
.tagsList{
  position: absolute;
  width:21rem;
  height:10rem;
  overflow: scroll;
  padding-inline-start:0px;
  margin-block-start:0px;
  z-index:2;
  top:31rem;
  background: white;
  box-shadow: 3px 3px 5px 5px #E5E7EB;
  overflow-x: hidden;
}

.currentColor{
  display:inline-block;
  height:1rem;
  width:1rem;
  border-radius:50%;
  margin-left:1rem;
}

.error{
    display: flex;
    justify-content: space-between;
    border:1px solid #B91C1C;
    padding:0.5rem;
    border-radius:12px;
    background:#FEE2E2;
    width:20rem;
    margin-bottom: 0.75rem;
}

.error .x{
  background:var(--pin-color) ;
  color:white;
}

.colorList{
  height:1rem;
  width:1rem;
  border-radius:50%;
  cursor:pointer;
}

.tags-container {
  margin : 0 1.5rem 3rem 1.5rem
}

.primary-btn{
  margin-bottom: 1rem;
  background: var(--primary-color) ;
}

.bordered-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border : 1px solid grey;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 1rem;
  padding: 2rem;
  padding-bottom: 0.5rem;
}

.tag-form{
  display: flex;
  margin-bottom: 1.5rem;
  
}


.tag-input {
  padding:0.5rem;
  border : 1px solid #000000;
  
  font-size: 1rem;
  /* border-radius: 1rem; */
  font-family: 'Montserrat', sans-serif;

}

.add-tag {
  padding:0.5rem;
  background: var(--green-button-bg);
  color:white;

}

.tags-flex{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tag-btn {
   padding:1rem;
   background: transparent;
   border : 1px solid var(--primary-color);
   border-radius : 1rem;
   color:var(--primary-color);
   margin-bottom:1.5rem;
   margin-right:1.5rem;
   /* text-transform: capitalize; */
   
}


.tag-btn:nth-last-child(1){
  margin-right:0;
}

.tag-btn:hover{
  background: var(--primary-color);
  color:white;
}

.notes-container{
  width:100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border : 1px solid grey;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 1rem;
  padding: 1rem;
  /* padding-bottom: 0.5rem; */
}

.container {
  width:80%;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.card {
  width:20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding:1rem;
  border-radius: 0.5rem;
  margin-bottom:2rem;
  
}

.card p{
  text-align:justify;
}

.card h2{
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

.pinned
{
  background: var(--pin-color);
  color:white;
  padding : 0.25rem;
}

.icon {
  width:2rem;
  height:2rem;
  border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.icon:hover {
  background:#E5E7EB;
}

.card .pin-btn {
  color:white;
  background:transparent;
  border-radius: 0.5rem;
  font-weight: bold;
}

.allnotes{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.textarea {
   height:7rem;
   /* overflow: scroll; */

}

.form .pin-btn{
  background: var(--pin-color);
  color: white;
  font-weight:bold;
  padding:0.25rem;
}

.thumbtack {
  width : 1rem;
  height : 1rem;
  border-radius : 50%;
  padding:0.5rem;
  cursor: pointer;
}

.thumbtack:hover{
  background :#F3F4F6;
}
